<div id="tile-container">

    <div id="left-side">
        <div class="row">
            <section class="tile tile-shadow" id="tile-three">
                <span class="heading" id="tile-three-heading"></span>
                <section class="text" id="tile-three-text">
                     
                </section>
            </section>

            <section class="tile tile-shadow" id="tile-two">
                <span class="heading" id="tile-two-heading"></span>
                <section class="text" id="tile-two-text">

                </section>
            </section>

            <section class="tile tile-shadow" id="tile-one">
                <section class="heading" id="tile-one-heading"></section>
                <section class="text" id="tile-one-text">

                </section>
            </section>
        </div>


        <div class="row">
            <section class="tile tile-shadow" id="tile-four">
                <span class="heading" id="tile-four-heading"></span>
                <section class="text" id="tile-four-text">

                </section>
            </section>
        </div>

        <div class="row">
            <section class="tile tile-shadow" id="tile-five">
                <span class="heading" id="tile-five-heading"></span>
                <section class="text" id="tile-five-text">

                </section>
            </section>
        </div>

        <div class="md-row">
            <section class="md-tile tile-shadow" id="main-tile">
                <span class="heading" id="main-tile-heading"></span>
                <section class="text" id="main-tile-text">
                    
                </section>
            </section>
        </div>
    </div>

    <div id="right-side">
        <section class="xl-tile tile-shadow" id="display-tile">  
        </section>
    </div>
</div>