<div class="tile-shadow" id="light-container">

    <!--<section class="pop-up-circle">
        <section class="halfCircleRight" id="light-close">X</section>

        <section class="halfCircleLeft">ON</section>
        <section class="halfCircleRight">OFF</section>

        <section class="detail-bar">Details</section>

        <section class="detail-pane">
            <section class="invisi-bar"></section>
        </section>
    </section>
    -->

    <section class="room-label tile-shadow"></section>

    <section class="shadow" id="highlight"></section>

    <section class="detail-display tile-shadow" id="detail-form">
        
        <section class="shadow" id="light-status">Status: OFF</section>
    </section>

    <!--<section class="detail-input tile-shadow"></section>-->

    <section class="lights" id="light-1"></section>
    <section class="lights" id="light-2"></section>
    <section class="lights" id="light-3"></section>
    <section class="lights" id="light-4"></section>
    <section class="lights" id="light-5"></section>
    <section class="lights" id="light-6"></section>
    <section class="lights" id="light-7"></section>

</div>