<div class="tile-shadow" id="circle-container">

    <section class="tile-shadow" id="roomname"></section>

    <section class="rooms-display" id="room-rotation">
        <section class="inner-rooms-display">
        </section>
    </section>

    <div class="thermostat-power">
        <input id="power-checkbox" type="checkbox">
        <label><i class="icon-off"></i></label>
    </div>

    <section class="overall-temp-display">
        <section class="inner-overall-display"></section>
    </section>

    <section class="tile-shadow" id="warm-temp">
        <section class="warm-cool-inner-circle warm-up-arrow"></section>
    </section>

    <section class="tile-shadow" id="cool-temp">
        <section class="warm-cool-inner-circle cool-down-arrow"></section>
    </section>

    <section id="switches">
        <div class="switch-container">
            <div class="switch-label">SYSTEM</div>
            <div class="switch" id="system">
                <input type="checkbox" id="system-switch">
                <label><i></i></label>
            </div>
        </div>
        <div class="switch-container">
            <div class="switch-label">FAN</div>
            <div class="switch" id="fan">
                <input type="checkbox" id="fan-switch">
                <label><i></i></label>
            </div>
        </div>
    </section>

    <section id="sunday" class="days">
        <section id="inner-sunday" class="inner-days">

        </section>
    </section>
    <section id="monday" class="days">
        <section id="inner-monday" class="inner-days"></section>
    </section>
    <section id="tuesday" class="days">
        <section id="inner-tuesday" class="inner-days"></section>
    </section>
    <section id="wednesday" class="days">
        <section id="inner-wednesday" class="inner-days"></section>
    </section>
    <section id="thursday" class="days">
        <section id="inner-thursday" class="inner-days"></section>
    </section>
    <section id="friday" class="days">
        <section id="inner-friday" class="inner-days">

        </section>
    </section>
    <section id="saturday" class="days">
        <section id="inner-saturday" class="inner-days"></section>
    </section>


</div>